* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  background: #ff7b00;
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  gap: 20px;
}

.category-card {
  width: 200px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s;
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-info {
  padding: 10px;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.category-card.active {
  background-color: #000;
  color: white;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
}

.meal-card {
  width: 200px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.3s;
}

.meal-card:hover {
  transform: scale(1.05);
}

.meal-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.meal-card h4 {
  padding: 10px;
}

.meal-details {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.meal-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.meal-header img {
  width: 250px;
  border-radius: 15px;
}

.meal-info-box h2 {
  margin-bottom: 10px;
  color: #ff7b00;
}

.ingredients-box {
  background: #ffe3c2;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
}

.ingredients-box p {
  margin-bottom: 5px;
}

.instructions {
  line-height: 1.6;
  color: #444;
}

.source-link {
  display: inline-block;
  margin-top: 10px;
  color: #ff7b00;
  text-decoration: none;
  font-weight: 600;
}
.source-link:hover {
  text-decoration: underline;
}
